// TODO: 5. Fixing one thing may break other things, but sometimes it has to be done
main {
  // try to keep these
  display: grid;
  grid-template-rows: 40px 1fr 40px;
  min-height: 90vh;
  // don't  really care about the below
  padding-left: 20px;
  padding-right: 20px;
}
