<!-- NOTE: changes not just in this component -->
<!-- TODO: 3. Use Semantic HTML properly, what's wrong with this usage of main -->
<!-- TODO: 4. Our header and footer are suppose to fill the full width of the page and sit flush to the top / bottom -->
<!-- e.g. no whitespace around the header / footer -->

<pre-header [userName]="userName$"></pre-header>
<pre-side-nav [sideNavItems]="sideNavItems"></pre-side-nav>
<main>
  <section>
    <router-outlet></router-outlet>
  </section>
</main>
<pre-footer></pre-footer>